html{
	font-family: Arial;
	font-size: 22pt;
}
table{	
	background: #009DD9;
	border-collapse: collapse;
}
th{
	padding: 10px;
	border: solid 2px #000;
	color: #fff;
	font-size: 24pt;
	font-weight: bold;
}
td{
	width: 50%;
	padding: 10px 30px;
	border: solid 2px;
}
#vermelha{ 
	background-color: #ff0000; 
	font-weight: bold;
	color: white;
	border: solid 2px #000;
}
#amarela{ 
	background-color: yellow; 
	font-weight: bold;
	font-style: italic;
}
#verde{ 
	background-color: limegreen; 
	color: #fff;
}
#verde td{
	border: solid 2px #000;
}
#italica{ font-style: italic; }